.env
.DS_Store

# Node / Baileys
node_modules/
npm-debug.log*
bridge/yarn.lock
bridge/auth_info_baileys/
bridge/.wwebjs_auth/
bridge/.wwebjs_cache/

# Elixir / Phoenix
brain/_build/
brain/deps/
brain/*.ez
